# Virtual environments
.venv/
venv/

# Environment variables
.env/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Django specific
*.sqlite3
/staticfiles/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
